@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: cocacola;
    src: url(fonts/Loki\ Cola.TTF);
}
@font-face {
    font-family: tesla;
    src: url(fonts/TESLA.ttf);
}
:root {
    --pepsi-blue: #0053a0;
    --pepsi-red: #e32934;
  }

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Alata', sans-serif;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
nav{
   display: flex;
   justify-content: space-between;
   padding: 10px 30px;
   background-color: rgb(255, 255, 255);
   color: black;
   align-items: center;
   box-shadow: .5px .5px 8px;
   position: fixed;
   z-index: 3;
}

.logo{
    width:12%;
}

nav ul{
    display: flex;
    list-style: none;
    gap:24px;
}

nav ul li a:hover{
    color: var(--pepsi-red);
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.icons{
   width: 10%;
   display: flex;
   gap:20px;
}
.icons .fa{
    color:var(--pepsi-red);
}
.icons .fa:hover{
   color: rgb(0, 0, 0);
}

.hero{
    background-color: gainsboro;
    height: 70vh;
    display: flex;
    justify-content:space-between;
    padding: 50px;
    align-items: center;
    position: relative;
}
.hero_1{
    transition: transform 0.3s, opacity 0.3s; 
    width: 31.5%;
}
.hero_content{
    width: 60%;
    font-family: Montserrat;
    text-align: center;
}

.hero_content h1{
    color: var(--pepsi-blue);
    line-height: 1;
    margin: 20px 0px;
}
.hero_content h1 span{
    color: var(--pepsi-red);
}
.hero_content p{
    font-weight: 300;
}
.cta{
    background-color: #e32934;
    margin: 20px 0px;
    height: 33px;
    padding: 0px 40px;
    border: none;
    color: white;
    border-radius: 2px;
    box-shadow: 5px 5px 10px gray;
    transition:all .3s;
}
.cta:hover{
    background-color: #a00000;
    transform: translateY(-2px);
}
.hero_2{
    margin-top: 100px;
    width: 40%;
}

/* About Us Section */
.about_us{
    margin: 30px 0px;
    padding: 20px 0px;
}
.card_section{
    width: 95%;
    display: flex;
    justify-content: center;
    margin: auto;
    /* gap:1%; */
    flex-wrap: wrap;
}
.card{
    min-width: 250px;
    width: 24%;
    padding: 20px 10px;
    text-align: center;
    color: white;
    position: relative;
    height: 60vh;
    /* border-radius: 4px; */
}
.card_1{
    background-color: #0053A0;
}
.card_2{
    background-color: #FF6347;
}
/* .card_2 .about_btn{
    background-color: var(--pepsi-);
} */
.card_3{
    background-color:  #7D3C98;
}
.card_4{
    background-color: #00CC99;
}

.card .fa{ 
    font-size: 80px;
    margin:20px auto;
}
.card p{
    margin:10px 0px;
    font-size: .9rem;
    font-family: "Poppins";
    line-height: 1.3;
    position: absolute;
    top:38%;
}
.about_content h1{
    line-height: 1.9rem;
    font-size: 1.2rem;
    color: var(--pepsi-red);
    font-weight: 900;
}
.about_btn{
   position: absolute;
   bottom: 30px;
   margin-left: -50px;
   width: 50%;
   border: none;
   height: 33px;
   background-color: var(--pepsi-red);
   color: white;
}
.about_btn:hover{
    background-color: #d64952;
}