@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: cocacola;
    src: url(fonts/Loki\ Cola.TTF);
}
@font-face {
    font-family: tesla;
    src: url(fonts/TESLA.ttf);
}
:root {
    --pepsi-blue: #0053a0;
    --pepsi-red: #e32934;
  }

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Alata', sans-serif;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
nav{
   display: flex;
   justify-content: space-between;
   padding: 10px 30px;
   background-color: rgb(255, 255, 255);
   color: black;
   align-items: center;
   box-shadow: .5px .5px 8px;
   position: fixed;
   z-index: 3;
}

.logo{
    width:12%;
}

nav ul{
    display: flex;
    list-style: none;
    gap:24px;
}

nav ul li a:hover{
    color: var(--pepsi-red);
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.icons{
   width: 10%;
   display: flex;
   gap:20px;
}
.icons .fa{
    color:var(--pepsi-red);
}
.icons .fa:hover{
   color: rgb(0, 0, 0);
}

.hero{
    background-color: gainsboro;
    height: 70vh;
    display: flex;
    justify-content:space-between;
    padding: 50px;
    align-items: center;
    position: relative;
}
/* .hero_1{
    transition: transform 0.3s, opacity 0.3s; 
    width: 26%;
} */
.hero_content{
    width: 60%;
    font-family: Montserrat;
    text-align: center;
}

.hero_content h1{
    color: var(--pepsi-blue);
    line-height: 1;
    margin: 20px 0px;
}
.hero_content h1 span{
    color: var(--pepsi-red);
}
.hero_content p{
    font-weight: 300;
}
.cta{
    background-color: #e32934;
    margin: 20px 0px;
    height: 33px;
    padding: 0px 40px;
    border: none;
    color: white;
    border-radius: 2px;
    box-shadow: 5px 5px 10px gray;
    transition:all .3s;
}
.cta:hover{
    background-color: #a00000;
    transform: translateY(-2px);
}
.hero_2{
    margin-top: 100px;
    width: 40%;
}

/* About Us Section */
.about_us{
    margin: 30px 0px;
    padding: 20px 0px;
}
.card_section{
    width: 95%;
    display: flex;
    justify-content: center;
    margin: auto;
    gap:1%;
    flex-wrap: wrap;
}
.card{
    min-width: 250px;
    width: 24%;
    padding: 20px 10px;
    text-align: center;
    color: black;
    position: relative;
    height: 60vh;
    border-radius: 4px;
    box-shadow: 1px 1px 10px gray;
}

.card .fa{ 
    font-size: 80px;
    margin:20px auto;
    color: var(--pepsi-blue);
}
.card p{
    margin:10px;
    font-size: .9rem;
    font-family: "Poppins";
    line-height: 1.3;
    position: absolute;
    top:38%;
}
.about_content h1{
    line-height: 1.9rem;
    font-size: 1.2rem;
    color: var(--pepsi-red);
    font-weight: 900;
}
.about_btn{
   position: absolute;
   bottom: 30px;
   margin-left: -25%;
   width: 50%;
   border: none;
   height: 33px;
   background-color: var(--pepsi-red);
   color: white;
}
.about_btn:hover{
    background-color: #d64952;
}

.sustainability{
    background-image: url(pepsi\ images/CTA.webp);
    height: 70vh;
    width: 95%;
    margin: 10px auto;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    flex-direction: column;
    text-align: center;
}
.sustainability_header{
    color: var(--pepsi-red);
    margin: 4px 0px;
}
.sustainability p{
    width: 70%;
    margin:0px auto;
}
.sustainability_btn{
    margin-top: 20px;
    height: 35px;
    padding: 0px 40px;
    background-color: var(--pepsi-red);
    color: white;
    border: none;
    outline: none;
    transition: all .3s;
}
.sustainability_btn:hover{
    background-color: #a00000;
}



/* Featured News */

.section_header{
    margin-top: 60px;
    text-align: center;
    color: var(--pepsi-red);
}
.section_text{
    text-align: center;
    margin-bottom: 20px;
    font-family: "Montserrat";
}
.featured_cards{
    display: flex;
    justify-content: space-around;
    gap: 2%;

    width: 92%;
    margin:auto;
}
.f_card{
    width: 32%;
}

.featured_img{
    width: 100%;
    height: 35vh;
    padding: 0px 4px;
}
.f_card h2{
    color: var(--pepsi-blue);
    margin: 10px 0px;
}
.f_card p{
    font-family: "Montserrat";
    font-size: 1rem;
    /* text-align: justify; */
    padding: 0px 4px;
}
.card_link{
    color: var(--pepsi-blue);
    margin: 80px 0px;
}



/* Jobs Section */
.jobs_display{
    gap: 2%;
    display: flex;
    width: 95%;
    margin: auto;
    align-items: start;
    background-color: var(--pepsi-blue);
    color: white;
    padding: 20px;
}

.jobs_content p{
    font-family: "Montserrat";
}

.jobs_content h1{
    color: var(--pepsi-red);
    margin: 7px 0px;
}
.job_listing li{
    font-family: "Montserrat";
    margin: 10px 20px;
    /* font-weight: 300; */
}


/* Contact Us */
.contact-us{
    margin: 10px;
}
.contact-container{
    display: flex;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    width: 80%;
    margin: auto;
}
.contact-details, .contact-form {
    width: 49%;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}
.contact-details h2 .contact-form h2{
    color: var(--pepsi-red);
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    /* outline: 1px solid var(--pepsi-blue); */
    outline: none;
}

.form_submit {
    display: inline-block;
    padding: 10px 40px;
    background-color: var(--pepsi-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin:20px auto;
    display: block;
}

.form_submit:hover {
    background-color: var(--pepsi-blue);
}

/* Footer */
.footer{
    background-color: var(--pepsi-blue);
    color: white;

    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    font-family: "Montserrat";
    margin: 40px 0px;
}
.footer_icons{
    display: flex;
    gap: 20px;
}
.one{
    width: 33%;
}
.one img{
    width: 50%;
    margin-bottom: 20px;
}
.one p{
    font-family: "Montserrat";
    margin-bottom: 20px;
}

.footer_side h2{
    color: var(--pepsi-red);
    margin-bottom: 10px;
}
.footer_side ul{
    list-style: none;
}
.footer_side ul li:hover{
     color: yellow;
}